<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipes</title>
  <link rel="stylesheet" href="/css/allRecipes.css">
  <link rel="stylesheet" href="/css/recipeCard.css">
</head>
<body>
<!-- main -->
<main class="page">

  <section th:replace="~{fragments/commons::nav}"> ></section>

  <section class="recipes-container">
    <!-- tag container -->
    <div class="tags-container">
      <h3>Recipe with:</h3>
      <div class="tags-list">
        <a href="tag-template.html">Beef (1)</a>
        <a href="tag-template.html">Breakfast (2)</a>
        <a href="tag-template.html">Carrots (3)</a>
        <a href="tag-template.html">Food (4)</a>
        <a href="tag-template.html">Eggs (4)</a>
      </div>
    </div>
    <!-- end of tag container -->

    <!-- recipes list -->
    <div class="menu">

      <div class="menu_box">

        <div class="menu_card">

          <div class="menu_img">
            <img src="/images/carrotCake.webp">
          </div>

          <div class="menu_text">

            <h2>Chef John's Carrot Cake</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Enim, animi nesciunt magni molestiae
            </p>

            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

          </div>

        </div>

        <div class="menu_card">

          <div class="menu_img">
            <img src="/images/carrotCake.webp">
          </div>

          <div class="menu_text">

            <h2>Chef John's Carrot Cake</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Enim, animi nesciunt magni molestiae
            </p>

            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

          </div>

        </div>

        <div class="menu_card">

          <div class="menu_img">
            <img src="/images/carrotCake.webp">
          </div>

          <div class="menu_text">

            <h2>Chef John's Carrot Cake</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Enim, animi nesciunt magni molestiae
            </p>

            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

          </div>

        </div>

        <div class="menu_card">

          <div class="menu_img">
            <img src="/images/carrotCake.webp">
          </div>

          <div class="menu_text">

            <h2>Chef John's Carrot Cake</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Enim, animi nesciunt magni molestiae
            </p>

            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

          </div>

        </div>

        <div class="menu_card">

          <div class="menu_img">
            <img src="/images/carrotCake.webp">
          </div>

          <div class="menu_text">

            <h2>Chef John's Carrot Cake</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Enim, animi nesciunt magni molestiae
            </p>

            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

          </div>

        </div>

      </div>

    </div>
  </section>
</main>
<!-- end of main -->
</body>
</html>