<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recipe</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/recipe-article.css">
</head>
<body>

<section th:replace="~{fragments/commons::nav}"></section>

<div class="hero">

    <article class="recipe_article">

        <div class="row1">
            <div class="recipe_left">

                <h1 class="article-heading type--lion">Chef John's Carrot Cake</h1>

                <img src="/images/carrotCake.webp"/>

            </div>

            <div class="ingredients">
                <h2>Ingredients</h2>
                <ul>
                    <li class="ingredient-items"><p>2 cups all-purpose placeholder</p></li>
                    <li class="ingredient-items">1 teaspoon placeholder</li>
                    <li class="ingredient-items">1 teaspoon baking placeholder</li>
                    <li class="ingredient-items">2 teaspoons baking placeholder</li>
                    <li class="ingredient-items">½ teaspoon ground placeholder</li>
                </ul>

            </div>

        </div>

        <div class="row2">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse reiciendis quaerat nobis
                deleniti amet non inventore. Reprehenderit recusandae voluptatibus minus tenetur itaque numquam
                cum quos dolorem maxime. Quas, quaerat nisi. Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Cumque facilis, quaerat cupiditate nulla quibusdam quo sunt esse tempore inventore vel
                voluptate, amet laudantium adipisci veniam nihil quam molestiae omnis mollitia.
            </p>
        </div>

    </article>

</div>

</body>
</html>