<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recipe</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/recipe-article.css">
</head>
<body>

<section th:replace="~{fragments/commons::nav}"> ></section>

<div class="hero">

<article class="recipe_article">

<div class="recipe_head">

    <h1 class="article-heading type--lion">Chef John's Carrot Cake</h1>

</div>

    <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
            <li class="ingredient-items"><p>2 cups all-purpose placeholder</p></li>
            <li class="ingredient-items">1 teaspoon placeholder</li>
            <li class="ingredient-items">1 teaspoon baking placeholder</li>
            <li class="ingredient-items">2 teaspoons baking placeholder</li>
            <li class="ingredient-items">½ teaspoon ground placeholder</li>
        </ul>

    </div>

</article>

</div>

</body>
</html>