<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<section th:replace="~{fragments/commons::nav}"> ></section>


<div class="hero">

    <div class="register_form">

        <h1 class="register_head">Register</h1>

        <form
                th:action="@{/register}"
                th:method="post"
                th:object="${createUserDTO}"

                class="input_box">

            <div th:if="${hasRegistrationError}" class="login_error">Registration Error occurred</div>

            <small th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}"
                   class="login_error"></small>

            <input type="text" id="username" class="field"
                   name="username" placeholder="Username"
                   th:field="*{username}"
                   th:errorclass="login_error">

            <small th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                   class="login_error"></small>

            <input type="password" id="password" class="field"
                   name="password" placeholder="Password"
                   th:field="*{password}"
                   th:errorclass="login_error"
                   maxlength="18" minlength="2">

            <small th:if="${#fields.hasErrors('passwordConfirm')}"
                   th:errors="*{passwordConfirm}"
                   class="login_error"></small>

            <input type="password" id="passwordConfirm" class="field"
                   name="passwordConfirm" placeholder="Confirm Password"
                   th:field="*{passwordConfirm}"
                   th:errorclass="login_error"
                   maxlength="18" minlength="2">

            <small th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class="login_error"></small>

            <input type="email" id="email" class="field"
                   name="email" placeholder="Email"
                   th:field="*{email}"
                   th:errorclass="login_error">


            <button class="submit">Register</button>


            <div class="tag">
                <span>Already have an account? <a href="/login">Log in</a></span>
            </div>


        </form>

    </div>
</div>


</body>
</html>