<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MintLeaf</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <div class="logo">
        <img src="/images/mintLeafLogo.png">
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#Admin">Admin</a></li>
        <li><a href="#My Menu">My Menu</a></li>
        <li><a href="/allRecipes">Meals</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="#Logout">Logout</a></li>
    </ul>

    <div class="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i>
    </div>

</nav>

</body>
</html>